[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kinematics"]
	path = kinematics
	url = https://github.com/pabrod/kinematics
[submodule "waydown"]
	path = waydown
	url = https://github.com/pabrod/waydown
